//Colors

//Almost White
$aw_color: hsl(0, 0%, 98%);

//Medium Gray
$mg_color: hsl(0, 0%, 41%);

//Almost Black
$ab_color: hsl(0, 0%, 8%);


//Typography

//Size
$main_font_size: 1.125rem;

//Family
$font_family: Epilogue;
$font_family_bold: Epilogue_Bold;
$font_family_semi_bold: Epilogue_Semi_Bold;

//Weight
$font_thick: 700;
$font_thin: 500;


//Icons

//Dropdown
$dropdownIcon: "../images/icon-arrow-down.svg";

//Lift up
$liftUpIcon: "../images/icon-arrow-up.svg";

//Calendar
$calendarIcon : "../images/icon-calendar.svg";

//Todo
$todoIcon : "../images/icon-todo.svg";

//Reminder
$reminderIcon : "../images/icon-reminders.svg";

//Planning
$planningIcon : "../images/icon-planning.svg";

//Burger Menu Icon
$burgerMenuIcon : "../images/icon-menu.svg";

//Close Icon
$closeIcon : "../images/icon-close-menu.svg";


//Main Images
$mobileMainImage : "../images/image-hero-mobile.png";
$desktopMainImage : "../images/image-hero-desktop.png";


