@font-face {
  font-family: 'Epilogue';
  src: url("../font/Epilogue/Epilogue-VariableFont_wght.ttf") format('opentype');
}
@font-face {
  font-family: 'Epilogue_Bold';
  src: url("../font/Epilogue/static/Epilogue-Bold.ttf") format('opentype');
}
@font-face {
  font-family: 'Epilogue_Semi_Bold';
  src: url("../font/Epilogue/static/Epilogue-SemiBold.ttf") format('opentype');
}
@import "_variables";
@import "_mixins";
@import "_animations";
@import "_globals";
@import "_header.scss";
@import "_content.scss";


